@import url('https://fonts.googleapis.com/css?family=Francois+One|Caveat|Montserrat|Yesteryear&display=swap');
@import url('https://use.fontawesome.com/releases/v5.8.2/css/all.css');

/* TEST BUFFER REMOVE LATER */
.buffer {
  padding: 50px 0;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
}

/* --------------------------------------------------------- GLOBAL STYLING */
/* Root Site Colors */
:root {
  --white: #f7f7f7;
  --black: #252525;
  --lightBlack: #323232;
  --lightGrey: #5D5D5D55;
  --grey: #C9C9C9;
  --clear: #f7f7f700;
}

/* Global Style Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Font */
html {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--black);
}

/* Global Grid */
#index {
  display: grid;
  grid-auto-rows: min-content;
}

/* Global "Anchors" */
.anchor:hover {
  cursor: pointer;
}

/* Quote Styling */
.quote {
  position: relative;
  background: var(--lightGrey);
  padding: 60px 150px;
  font-family: 'Caveat', cursive;
  font-size: 3.3rem;
}

.quote-by {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  margin-left: 20px;
}

.quote-right {
  text-align: right;
}

.quotations {
  font-family: 'Yesteryear', serif;
  font-size: 3rem;
}

.quote-logo {
  position: absolute;
  width: 200px;
  opacity: .2;
  margin: 20px 40px;
  left: 0;
  top: 0;
  z-index: -1;
}

.quote-logo>img {
  width: 100%;
}

/* Jumbo Image Styling */
.jumbo-image {
  width: 100vw;
  height: 50vh;
}

.jumbo-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section Titles */
.section-title {
  font-family: 'Francois One', Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 20px;
  text-decoration: underline;
}

/* Global Social Media Icon Styling */
#icons {
  font-size: 2.5rem;
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 0 10px;
}

.icon a {
  color: var(--black);
}

.icon a:hover {
  color: var(--lightGrey) !important;
}

@media only screen and (max-width:500px) {
  .quote {
    padding: 60px 50px;
    font-size: 2.4rem;
  }

  .quote-by {
    font-size: 1.2rem;
  }

  .quotations {
    font-size: 2rem;
  }
}

/* --------------------------------------------------------- NAVBAR */
.nav {
  position: fixed;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 'logo nav-items';
  height: 40px;
  width: 100vw;
  align-items: center;
  z-index: 1;
  transition: background .6s ease;
}

.logo-title {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
  color: var(--white);
  align-items: center;
}

.logo>img {
  width: 25px;
  margin-left: 10px;
}

.nav-item-container {
  display: flex;
  padding: 0 20px;
  justify-self: right; /* safari */
  justify-content: right;
  right: 0;
}

.nav-item {
  color: var(--white);
  padding: 0 10px;
}

.nav-item:hover {
  text-decoration: underline 2px;
}

.hamburger {
  display: none;
  /* visibility: hidden; */
}



@media only screen and (max-width:1100px) {
  .nav {
    position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 1fr;
    grid-template-areas:
      '.'
      'logo'
      'nav-items';
    height: 100vh;
    justify-content: center;
    text-align: center;
    transition: all .6s ease;
    background: var(--black) !important;
  }

  .hide-nav {
    height: 0 !important;
    transition: all 1s ease;
    overflow: hidden;
  }

  .nav .anchor {
    opacity: 1;
    transition: all 1s ease;
  }
  
  .hide-nav .anchor {
    opacity: 0;
    transition: all .5s ease;
  }

  .logo-title {
    justify-content: center;
  }

  .nav-item-container {
    flex-direction: column;
    justify-self: center;
  }

  .nav-item {
    padding: 10px 0;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: right;
    left: -100px;
    z-index: 2;
    height: 40px;
  }

  .lines {
    position: fixed;
    /* background: var(--white); */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    margin-top: 40px;
    /* z-index: 3; */
    /* width: 30px; */
  }
  
  .line {
    /* width: 30px; */
    /* height: 3px; */
    background: var(--white);
    /* margin: 5px; */
  }
  
  
  
  /* Hamburger Style */
  #burger-toggle span,
  #burger-toggle span:before,
  #burger-toggle span:after {
    position: absolute;
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: var(--lightBlack);
    background: green;
    display: block;
    content: '';
  }
  
  #burger-toggle span:before {
    top: -10px;
  }
  
  #burger-toggle span:after {
    bottom: -10px;
  }
  
  #burger-toggle span,
  #burger-toggle span:before,
  #burger-toggle span:after {
    transition: all 500ms ease-in-out;
  }
  
  #burger-toggle.active span {
    background-color: transparent;
  }

  #burger-toggle.active span:before,
  #burger-toggle.active span:after {
    top: 0;
  }

  #burger-toggle.active span:before {
    transform: rotate(45deg);
  }

  #burger-toggle.active span:after {
    transform: rotate(-45deg);
  }

}

/* --------------------------------------------------------- HOME */
#home {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--black);
}

.bg-image {
  height: 100vh;
  width: 100vw;
}

.bg-image>img {
  width: 100%;
  height: 100%;
  background: var(--black);
  object-fit: cover;
  opacity: .2;
}

.home-content-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.home-text {
  color: var(--white);
  font-family: 'Francois One', Helvetica, sans-serif;
  font-size: 3.4rem;
  width: 450px;
  text-align: center;
  padding: 20px 0;
  letter-spacing: 2px;
  transition: all 1s ease;
}

.home-content-div button {
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  border: 2px solid var(--lightBlack);
  background: var(--white);
}

.home-content-div button:hover {
  cursor: pointer;
  border: 2px solid var(--white);
}

@media only screen and (max-width:500px) {
  .home-text {
    font-size: 2.7rem;
  }

  .home-content-div button {
    font-size: .7rem;
  }
}

/* --------------------------------------------------------- ABOUT */
#about {
  display: grid;
  grid-template-rows: min-content 1fr;
  text-align: justify;
  padding: 50px 0;
}

.about-content {
  padding: 0 150px;
}

.about-icons {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

@media only screen and (max-width:500px) {
  .about-content {
    padding: 0 50px;
  }
}

/* --------------------------------------------------------- TRAINERS */

/* --------------------------------------------------------- CAMPS */

/* --------------------------------------------------------- ALUMNI */

/* --------------------------------------------------------- SOCIAL */
#social {
  display: flex;
  padding: 50px 60px;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.social-content {
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: repeat(auto-fit, 400px);
  justify-content: center;
}

.hover-social:hover {
  background: var(--grey) !important;
}

@media only screen and (max-width: 1390px) {
  #social {
    padding: 50px 10px;
  }

  .social-content {
    grid-gap: 10px 20px;
    grid-template-columns: 350px;
  }
}

/* --------------------------------------------------------- CONTACT */

/* --------------------------------------------------------- FOOTER */
footer {
  background: var(--black);
  color: var(--white);
  display: grid;
  grid-auto-rows: auto;
  width: 100%;
  justify-content: center;
  padding: 20px 0;
}

.copyright {
  display: grid;
  grid-auto-rows: auto;
  width: 100%;
  text-align: center;
}

.copyright span {
  padding-top: 5px;
}

.copyright a {
  color: var(--white);
}

.copyright a:hover {
  color: var(--lightGrey);
}